:root {
  --black: #020202;
  --white: #ffffff;
  --blue: #00425c;
  --cyan: #17a2b8;
}

body {
  background-color: var(--cyan);
}

h1 {
  text-align: center;
}

.donut-chart {
  border-radius: 0.8rem;
  background-color: var(--white);
}

/* 01-characters */
.card {
  width: 198px;
  background-color: transparent;
  border-color: transparent;
}

.card:hover {
  background-color: var(--blue);
  color: var(--white);
}

.characterImg {
  height: 240px;
  width: 180px;
  object-fit: cover;
}

.characters {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 20px;
}
